In [1]:
import pandas as pd
import numpy as np

In [2]:
dados = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv', sep = ';', encoding='latin1')
dados

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36624,159,8,2025,2025m08,35,4,Cachoeiras de Macacu,3300803,Interior,1,...,5.0,0.0,16,0,0,0,0,0,148,2
36625,165,8,2025,2025m08,33,5,Mangaratiba,3302601,Interior,0,...,5.0,0.0,21,2,0,0,0,0,179,2
36626,166,8,2025,2025m08,33,5,Angra dos Reis,3300100,Interior,3,...,11.0,3.0,63,8,0,0,0,0,595,2
36627,167,8,2025,2025m08,43,5,Paraty,3303807,Interior,0,...,3.0,0.0,13,2,0,1,0,0,234,2
36628,168,8,2025,2025m08,28,5,Rio Claro,3304409,Interior,1,...,1.0,0.0,5,0,0,0,0,0,50,2

In [3]:
dados_est = dados.sort_values(by = 'estelionato')
dados_est

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
16686,141,7,2013,2013m07,8,6,SÃ£o FidÃ©lis,3304805,Interior,1,...,1.0,0.0,15,0,1,0,0,0,83,3
26,31,1,2003,2003m01,14,2,Rio de Janeiro,3304557,Capital,1,...,NaN,NaN,10,0,0,0,0,0,41,3
21,26,1,2003,2003m01,3,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,0,0,0,0,0,0,0,3
16663,111,7,2013,2013m07,30,7,Sumidouro,3305703,Interior,0,...,0.0,0.0,3,0,0,0,0,0,28,3
11807,142,7,2010,2010m07,36,6,Cambuci,3300902,Interior,0,...,1.0,0.0,7,3,0,0,0,0,37,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34742,35,7,2024,2024m07,40,2,Rio de Janeiro,3304557,Capital,2,...,21.0,1.0,225,21,0,0,0,0,2624,3
34057,35,2,2024,2024m02,40,2,Rio de Janeiro,3304557,Capital,8,...,18.0,0.0,247,14,0,0,0,0,2375,3
30495,35,12,2021,2021m12,40,2,Rio de Janeiro,3304557,Capital,4,...,11.0,0.0,171,21,0,0,0,0,2327,3
30632,35,1,2022,2022m01,40,2,Rio de Janeiro,3304557,Capital,3,...,17.0,0.0,206,18,0,0,0,0,2293,3
33920,35,1,2024,2024m01,40,2,Rio de Janeiro,3304557,Capital,4,...,11.0,0.0,269,20,0,0,0,0,2592,3

In [10]:
read = np.array(dados['estelionato'])
read

array([69,  1, 37, ..., 98, 29, 10], shape=(36629,))

In [11]:
q1 = np.percentile(read, 25)
q3 = np.percentile(read, 75)
print(f'Primeiro quartil (Q1): {q1}')
print(f'Terceiro quartil (Q3): {q3}')

Primeiro quartil (Q1): 3.0
Terceiro quartil (Q3): 34.0

In [13]:
deleg = dados.groupby('munic')['furto_celular'].sum().reset_index()
deleg

                 munic  furto_celular
0       Angra dos Reis           2531
1             Araruama           2261
2   ArmaÃ§Ã£o dos BÃºzios           1420
3      Arraial do Cabo            584
4          Barra Mansa           2048
..                 ...            ...
85         TeresÃ³polis           1761
86   Trajano de Morais             55
87             ValenÃ§a            711
88           Vassouras            464
89       Volta Redonda           3940

[90 rows x 2 columns]

In [14]:
fim = read.loc[read['estelionato'] ]
fim

AttributeError: 'numpy.ndarray' object has no attribute 'loc'