In [1]:
import pandas as pd
import numpy as np

In [ ]:
dados = pd.read_csv('BaseDPEvolucaoMensalCisp.csv', sep = ';', encoding = 'latin1')
dados

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36624,159,8,2025,2025m08,35,4,Cachoeiras de Macacu,3300803,Interior,1,...,5.0,0.0,16,0,0,0,0,0,148,2
36625,165,8,2025,2025m08,33,5,Mangaratiba,3302601,Interior,0,...,5.0,0.0,21,2,0,0,0,0,179,2
36626,166,8,2025,2025m08,33,5,Angra dos Reis,3300100,Interior,3,...,11.0,3.0,63,8,0,0,0,0,595,2
36627,167,8,2025,2025m08,43,5,Paraty,3303807,Interior,0,...,3.0,0.0,13,2,0,1,0,0,234,2
36628,168,8,2025,2025m08,28,5,Rio Claro,3304409,Interior,1,...,1.0,0.0,5,0,0,0,0,0,50,2

In [ ]:
read = np.array(dados['furto_veiculos'])
read

array([12,  9, 28, ..., 11,  1,  0], shape=(36629,))

In [ ]:
read2 = np.array(dados['roubo_veiculo'])
read2

array([ 5,  9, 11, ...,  0,  0,  0], shape=(36629,))

In [ ]:
deleg = dados.groupby('furto_veiculos')['roubo_veiculo'].sum().reset_index()
deleg

     furto_veiculos  roubo_veiculo
0                 0           2487
1                 1           4334
2                 2           6025
3                 3           7521
4                 4          10642
..              ...            ...
106             114             40
107             120             57
108             125             41
109             139             76
110             173             46

[111 rows x 2 columns]

In [34]:
d_capital = dados.groupby('cisp')['SOMA'].sum().reset_index()
d_capital

KeyError: 'Column not found: SOMA'

In [ ]:
dados_cap = dados[dados['munic'] == 'Rio de Janeiro']
dados_cap = dados_cap.sort_values(by = 'furto_veiculos')
dados_cap

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
21,26,1,2003,2003m01,3,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,0,0,0,0,0,0,0,3
26,31,1,2003,2003m01,14,2,Rio de Janeiro,3304557,Capital,1,...,NaN,NaN,10,0,0,0,0,0,41,3
35266,11,11,2024,2024m11,23,1,Rio de Janeiro,3304557,Capital,0,...,0.0,0.0,7,1,0,0,0,0,82,3
14025,43,12,2011,2011m12,27,2,Rio de Janeiro,3304557,Capital,4,...,3.0,0.0,72,9,1,0,0,0,356,3
14131,13,1,2012,2012m01,19,1,Rio de Janeiro,3304557,Capital,0,...,4.0,3.0,22,2,0,0,0,0,480,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6217,16,1,2007,2007m01,31,2,Rio de Janeiro,3304557,Capital,3,...,7.0,0.0,85,2,0,1,0,0,1393,3
9475,16,2,2009,2009m02,31,2,Rio de Janeiro,3304557,Capital,3,...,9.0,0.0,74,2,0,0,0,1,1283,3
4657,16,1,2006,2006m01,31,2,Rio de Janeiro,3304557,Capital,11,...,5.0,0.0,109,6,1,0,0,0,1479,3
6477,16,3,2007,2007m03,31,2,Rio de Janeiro,3304557,Capital,3,...,5.0,0.0,120,6,1,0,0,0,1444,3
6347,16,2,2007,2007m02,31,2,Rio de Janeiro,3304557,Capital,5,...,10.0,1.0,107,1,1,0,0,0,1281,3

In [33]:
dados_cap = dados[dados['regiao'] == 'Capital']
dados_cap = dados_cap.sort_values(by = 'roubo_veiculo')
dados_cap

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
36492,1,8,2025,2025m08,5,1,Rio de Janeiro,3304557,Capital,1,...,13.0,2.0,11,3,1,0,0,0,653,2
147,26,2,2003,2003m02,3,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,0,0,0,0,0,0,4,3
36364,13,7,2025,2025m07,19,1,Rio de Janeiro,3304557,Capital,0,...,1.0,0.0,19,2,0,0,0,0,566,2
36363,12,7,2025,2025m07,19,1,Rio de Janeiro,3304557,Capital,0,...,10.0,1.0,32,2,0,0,0,0,1145,2
36362,11,7,2025,2025m07,23,1,Rio de Janeiro,3304557,Capital,1,...,1.0,0.0,1,0,0,0,0,0,82,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23215,34,7,2017,2017m07,14,2,Rio de Janeiro,3304557,Capital,0,...,55.0,3.0,110,8,1,0,0,0,2031,3
22945,40,5,2017,2017m05,9,2,Rio de Janeiro,3304557,Capital,3,...,2.0,0.0,42,2,0,0,0,0,1217,3
25290,39,10,2018,2018m10,41,2,Rio de Janeiro,3304557,Capital,9,...,6.0,1.0,20,7,0,0,0,1,1331,3
24048,39,1,2018,2018m01,41,2,Rio de Janeiro,3304557,Capital,8,...,3.0,0.0,29,4,0,0,1,0,1304,3
24324,39,3,2018,2018m03,41,2,Rio de Janeiro,3304557,Capital,11,...,5.0,1.0,27,9,0,0,1,0,1501,3

In [28]:
ty = np.concatenate((read, read2))
q1 = np.percentile(ty, 25)
q2 = np.percentile(ty, 50)
mediana = np.median(ty)
q3 = np.percentile(ty, 75)
print(f'Mediana: {mediana}')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2): {q2}')
print(f'Terceiro quartil (Q3): {q3}')
print(f'media: {round(np.mean(ty), 2)}')

Mediana: 5.0
Primeiro quartil (Q1): 1.0
Segundo quartil (Q2): 5.0
Terceiro quartil (Q3): 18.0
media: 15.08